<template>
  <header class="header">
    <ul class="header__list">
      <li class="header__item">
        <nuxt-link class="header__link" to="/">Главная</nuxt-link>
      </li>
      <li class="header__item">
       <nuxt-link class="header__link" :to="`products`">Все продукты</nuxt-link>
      </li>

      <!-- <li class="header__item">
        <nuxt-link></nuxt-link>
      </li> -->
    </ul>
  </header>
</template>

<script>
export default {}
</script>

<style>
.header__list {
  list-style: none;
  display: flex;

}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(74, 192, 129);
  padding-top: 20px;
}
.header__link {
  color: #fff;
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
}
</style>
