<template>
    <li>
      <div class="product__image">
        <img :src="product.image" :alt="product.title">
      </div>
      <nuxt-link class="product__link" :to="`products/${product.id}`">
        <h3 class="product__title">{{ product.title }}</h3>
      </nuxt-link>
      <p class="product__price"> {{ product.price }}$</p>
    </li>

</template>

<script>
export default {
  name:'ProductComponents',
  props: {
    product: {
      type: Object,
    }
  }
}
</script>

<style>
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  height: 100%;
}
.product__image {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.product__link {
  text-decoration: none;
  color: black;
}
.product__link:hover {
  text-decoration: underline;
}
</style>
