<template>
  <ul class="products__list">
    <product-component v-for="product in products" :product="product" :key="product.id" />
  </ul>
</template>

<script>
import ProductComponent from './ProductComponent.vue'
export default {
  name:'ProductsComponents',
  components: { ProductComponent },
  props: {
    products: {
      type:Array,
      required: true
    }
  }
}
</script>

<style>
.products__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 0;
  margin: 0;
  width: 100%;
}

</style>
