<template>
  <div class="container">
    <h1>Страница продуктов</h1>
    <products-component :products="products"/>
  </div>

</template>

<script>
import ProductsComponent from '~/components/ProductsComponent.vue'
export default {
  name: 'PageProducts',
  components: { ProductsComponent },
  layout: 'MainLayout',
  async fetch() {
    await this.$store.dispatch('products/getProducts')
  },
  computed: {
    products(){
      return this.$store.getters['products/products']
    }
  },
  // mounted(){
  //   console.log(this.products)
  // }




}
</script>

<style>

</style>
