<template>
  <div class="wrapper">
    <header-component/>
    <Nuxt/>
  </div>

</template>

<script>
import HeaderComponent from '@/components/HeaderComponent.vue'
export default {
  components: { HeaderComponent },
  name: 'MainLayout'

}
</script>

<style>
.wrapper {
  position: relative;
  max-width: 1280px;
  padding:0 20px;
  margin: 0 auto;
  padding-top: 100px;
}
body {
  font-family:Arial, Helvetica, sans-serif;
}

</style>
